<div class="card">
    <div class="card-header">
        <a class="btn btn-primary" routerLink="/add-employee/"> Add New Employee</a>
    </div>
    <div class="card-body">
        <h2>List of Employees</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of Employees; let iControl=index">
                        <td scope="row">{{ employee.id }}</td>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.email }}</td>
                        <td>
                            <a class="btn btn-info mx-2" routerLink="/edit-employee/{{ employee.id }}">Edit</a>
                            <a class="btn btn-danger" (click)="deleteRegister(employee.id, iControl)" role="button">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
